body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #845EC2, #A178DF,#BE93FD,#DCB0FF,#FACCFF);
}
  .container {
    max-width: 800px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;    
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
  }
  
  .form-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
  }
  form {
    margin-bottom: 20px;
  }
  input[type="text"],
  input[type="password"] {
    width: 100%;
    border: 2px solid #B6CDBF;
    border-radius: 15px;
    padding: 10px;
    font-size: 16px;
    color: #252525;
    background-color: #D1DED3;
    margin-bottom: 20px;
  }
  input[type="submit"], .btn-primary{
    background-color: #00896F;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: wheat;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.25s ease;
  }
  
  input[type="submit"]:hover ,.btn-primary:hover{
    background-color: #00C0A3;
    color:#4B4453;
  }
  
  label[for="reg"],
  input#reg {
    background-color: #719D99;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    text-align: center;
  }
  
  input#reg:hover {
    background-color: #45767C;
    color:#4B4453;
  }
  .messages {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .messages li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
  }
  
  .messages li.error {
    background-color: #D95C59;
  }
  
  .messages li.success {
    background-color: #55BD94;
  }

  h1 {
    color: #252525;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
  }
  
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    color: #252525;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  ul {
    margin-bottom: 20px;
    color: #D95C59;
    font-size: 16px;
  }
  
  li {
    margin-bottom: 10px;
    font-weight: 500;
  }
  
    .my-4 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    }
    
    .prediction {
    font-size: 1.2rem;
    font-weight: bold;
    color: #D95C59;
    margin-top: 1rem;
    }
    
    strong {
    font-weight: bold;
    color: #45767C;
    }
    