<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
		function submitBtn() {
			document.getElementById("upload").style.display = "block";
            document.getElementById("update").style.display = "block";
		}
	</script>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'fake_news/css/styles.css' %}">
</head>
<body>
{% if user.is_authenticated and user.is_superuser %}
    <h1>Welcome, admin! {{ user.username }}</h1>
    {% if message %}
      <p>{{ message }}</p>
    {% endif %}
    <form method="post" action="{% url 'download' %}">
        {% csrf_token %}
        <input type="submit" name="download" value="Download CSV" onclick = "submitBtn">
    </form>
    <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data" >
        {% csrf_token %}
        <input type="file" name="csv_file" accept=".csv">
        <input type="submit" name="upload" style="display: nono;" value="Upload CSV">
    </form>
    <form action="{% url 'update' %}">
        {% csrf_token %}
        <input type = "submit" name = "update" style="display: nono;" value="Update the models">
    </form>
{% endif %}

</body>
</html>