<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Register</title>
	  {% load static %}
	  <link rel="stylesheet" type="text/css" href="{% static 'fake_news/css/styles.css' %}">
  </head>
  <body>
    <h1>User Registration</h1>
    <div class="container">
      <form method="POST" action="{% url 'reg'%}">
        {% csrf_token %}
        <div class="form-group">
          {{ form.username.label_tag }}
          {{ form.username }}
        </div>
        <div class="form-group">
          {{ form.password1.label_tag }}
          {{ form.password1 }}          
        </div>
	      <div class="form-group">
          {{ form.password2.label_tag }}
          {{ form.password2 }}
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
		  {% if form.errors %}
        <ul>
        {% for field_errors in form.errors.values %}
          {% for error in field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        {% endfor %}
        </ul>
    	{% endif %}
    </div>
  </body>
</html>
